
<div class="card shadow-effect">
    <img src="https://images.pexels.com/photos/210126/pexels-photo-210126.jpeg" alt="post-image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-danger text-center ml-3">Featured</small>
        <small class="bg-light text-danger text-center ml-3">Views - 100,256</small>
        <h5 class="mt-1">HOW TO START A BLOG IN 2020 EDITED NEW CATEGORY</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse veniam, libero dignissimos sit similique eum labore perspiciatis doloremque numquam, inventore, placeat facere ad accusamus dolores facilis quisquam totam quas excepturi.</p>
        <small class="bg-light text-danger text-center ml-3">LAST UPDATED - SEP 20,2020</small>
    </div>
</div>