<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect">
                <img src="https://images.pexels.com/photos/19813732/pexels-photo-19813732.jpeg" alt="" class="card-img-top img-fluid">
                <div class="card-body">
                    <small class="bg-light text-danger text-center">Design</small>
                    <small class="bg-light text-success text-center ml-2"> Featured</small>
                    <small class="bg-light text-info text-center ml-2"> Views - 100,256 </small>
                    <small class="bg-light text-warning text-center ml-2"> LAST UPDATED - SEP 20,2021</small>

                    <h1 class="mt-3 mb-3">HOW TO START A BLOG IN 2021 EDITED NEW CATEGORY</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus corporis aut soluta excepturi ipsa necessitatibus! Vitae, nesciunt quae cum maiores rem incidunt nam neque facere hic suscipit voluptatum, deserunt eius?
                    Nam ducimus fuga saepe sint aperiam suscipit quos necessitatibus, pariatur id veritatis laboriosam vitae nihil. Esse dolorum earum pariatur optio illo! Vero architecto similique cum mollitia sint itaque repellat autem.
                    Magni nam explicabo aperiam aut dicta alias numquam nemo nulla rerum minus, aliquid quos autem sapiente voluptas inventore voluptate error ipsam. Eligendi illo voluptate officia, exercitationem molestias reprehenderit sapiente vero!
                    Sequi eos eveniet porro atque in perferendis voluptas voluptatem, doloribus, iure tenetur quisquam laudantium earum accusantium ratione facilis perspiciatis. Iusto assumenda eligendi facere minus. Corrupti asperiores porro inventore excepturi quia?
                    Deleniti, quo, praesentium nulla ipsam dolor minus quisquam error neque molestias at totam ut exercitationem. Dolorum adipisci autem sint minima. Aspernatur necessitatibus rem fugit expedita enim inventore in. Maiores, quidem?</p>
                </div>
            </div>
            <app-comment-form></app-comment-form>
            <app-comment-list></app-comment-list>
        </div>
        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>
</div>