.card{
    background-color: var(--secondary-color);
    width: 1100px;
}

input[type = text ],input[type = email]{
    width: 100%;
}

.btn-sub{
    height: 58px;
    border: none;
    font-size: 13px;
    background-color: var(--primary-color);
}

.subs-text{
    width:500px;
}